.main {
    color: white;
    /* display: block; */
    width: 100vw;
}

.subHeading {
  font-size: 60px;
}

.flexContainer {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-right: 10%;
  padding-left: 10%;
  width: 100vw;
  flex-wrap: wrap;
}

.flexItem {
  flex: 33%;
}

@media (max-width: 1000px) {
  .flexItem {
    flex: 100%;
  }
}

.icon {
  font-size: 80px;
}