.main {
    color: white;
    /* display: block; */
}

.subHeading {
  font-size: 60px;
}

.icon {
  filter: invert(100%);
  height: 100px;
  margin-bottom: 2%;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5%;
  padding-left: 5%;
  flex-wrap: wrap;
}

.flexItem {
  flex: 33%;
}

@media (max-width: 1000px) {
  .flexItem {
    flex: 100%;
  }
}