.navBar {
    border-bottom: white;
    position: absolute;
    width: 100vw;

    display: flex;
    align-items: center;
}

.navText {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: xx-large;
}

.navBarContents {
}